global
      # for logging section
    log         127.0.0.1 local2 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
      # max per-process number of connections
    maxconn     256
      # process' user and group
    user        haproxy
    group       haproxy
      # makes the process fork into background
    daemon

defaults
      # running mode
    mode               http
      # use global settings
    log                global
      # get HTTP request log
    option             httplog
      # timeout if backends do not reply
    timeout connect    10s
      # timeout on client side
    timeout client     30s
      # timeout on server side
timeout server     30s


# define frontend ( set any name for "http-in" section )

frontend http_front
   bind *:80
   stats uri /haproxy?stats
   default_backend app1

backend app1
    mode http
    balance            roundrobin
   # server             node3 192.168.0001.147:80 check
     server             node1 192.168.5.82:80 weight 10 check
     server             node2 192.168.5.79:80 weight 10 check
     server             node4 192.168.5.83:80 weight 3 check
#App2


frontend http_front
   bind *:8080
    stats uri /haproxy?stats
   default_backend app2


backend app2
    mode http
    balance            roundrobin
    server             node1 192.168.5.82:8080 weight 10 check
    server             node2 192.168.5.79:8080 weight 10 check
    server             node4 192.168.5.83:8080 weight 3  check

## Mysql
defaults
      # set "mode tcp" for Layer4
    mode               tcp
    log                global
    timeout connect    10s
    timeout client     30s
    timeout server     30s

# define frontend and backend servers
frontend  mysql-in
    bind *:3306
    default_backend    backend_servers

backend backend_servers
    balance            roundrobin
    server             db1 192.168.5.80:3306 weight 10 check
    server             db2 192.168.5.84:3306 weight 3  check

