[client]
        port = 3306
        socket = /home/mysql5/tmp/mysql.sock

[mysqld]
        port = 3306
        socket = /home/mysql5/tmp/mysql.sock
        basedir = /home/mysql5/mysql
        #datadir = /ext-san/mysql5/mysql/data
        datadir = /mysql-data/mysql/data
        user    = mysql5

        #old-password
        skip-external-locking
        default_storage_engine  = InnoDB
        #character-set-server    = utf8
        bind_address= 0.0.0.0
        lower_case_table_names = 1
        explicit_defaults_for_timestamp = TRUE
	log_timestamps = SYSTEM
	skip-symbolic-links
	skip-host-cache

        skip-name-resolve
        tmp_table_size=64M
        max_heap_table_size=64M
        max_sp_recursion_depth = 255
        group_concat_max_len=102400   

        connect_timeout=10
        wait_timeout = 1800
        max_connections = 500
        interactive_timeout = 28800
        net_read_timeout = 1200
        net_write_timeout = 1800

        sort_buffer_size = 2M
        read_buffer_size = 1M
        read_rnd_buffer_size = 2M
        join_buffer_size = 8M

        key_buffer_size = 128M
        #table_open_cache = 8192
	table_open_cache =39390
	#open-files-limit = 78780
        low_priority_updates = 1
        query_cache_type = 1
        query_cache_limit = 16M
        query_cache_size = 64M
        max_allowed_packet = 1024M

        thread_cache_size = 80
        tmpdir = /home/mysql5/tmp
	
	#autocommit=0
	transaction-isolation = READ-COMMITTED
        slow-query-log
	#long_query_time = 5
        innodb_thread_concurrency = 0
        innodb_flush_log_at_trx_commit = 2
        innodb_lock_wait_timeout = 500

        innodb_buffer_pool_size = 46G
        innodb_log_file_size = 1G 
        innodb_log_buffer_size = 64M

        ##innodb_data_home_dir = /ext-san/mysql5/mysql/data
        innodb_data_home_dir = /mysql-data/mysql/data
        innodb_log_group_home_dir = /home/mysql5/mysql/
       	#Arun
	#innodb_temp_data_file_path=ibtmp1:12M:autoextend:max:1G 
	######################

	innodb_locks_unsafe_for_binlog = 1
        innodb_purge_batch_size = 400
        innodb_old_blocks_time  = 1000
        innodb_io_capacity      = 300
        innodb_flush_method     = O_DIRECT

        innodb_print_all_deadlocks      = ON
        innodb_flushing_avg_loops       = 20
        innodb_flush_neighbors  = 2
        innodb_lru_scan_depth   = 300
        innodb_purge_threads    = 10
        innodb_stats_on_metadata  = 0
        innodb_file_per_table   = 1
        innodb_buffer_pool_instances    = 1
	#innodb_page_cleaners = 10
	log_error_verbosity = 2

##### Replication Master Entries ###############

       server-id       = 146
##Arun
#       log-bin          = /ext-san/mysql5/mysql-binlogs/BSS-DB-01-bin
#       log-bin-index    = /ext-san/mysql5/mysql-binlogs/BSS-DB-01-binindex
########
       log-bin          = /mysql-data/mysql-binlogs/BSS-DB-01-bin
       log-bin-index    = /mysql-data/mysql-binlogs/BSS-DB-01-binindex
       binlog_format    = MIXED
       max_binlog_size  = 1024M
       log_bin_trust_function_creators = 1

        master_info_repository = TABLE




[mysqldump]
        quick
        max_allowed_packet = 1024M

[mysql]
        no-auto-rehash

[safe_mysqld]
        err-log = /home/mysql5/mysql/err.log
        pid-file = /home/mysql5/mysql/mysqld.pid
        open-files-limit = 4096

